* {
  margin: 0;
}

.app {
  background-color: #C0D6DF;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #DBE9EE;
  /* padding: 20px; */
  border-bottom: 1px solid #A1A499;
  object-fit: contain;
}

.drawer_and_logo {
  display: flex;
}

.app_loginContainer {
  display: flex;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.app_header_image {
  width: 120px;
  padding: 0;
  height: auto;
  object-fit: contain;
  /* border: 2px solid red; */
}

.app_header_h1{
  display: flex;
  align-items: center;
  font-family: 'Brush Script MT', cursive;
  color: #4F6D7A;
}

.posts{
  display: flex;
  justify-content: center;
  /* padding: 10px; */
}

.LogOutButton{
  padding: 10px 2px
}

.SignUpButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 2px;
}