* {
  margin: 0;
}

.app {
  background-color: #C0D6DF;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.upload-login-message {
  color: #4F6D7A;
  display: flex;
  font-style: italic;
}

.posts{
  display: flex;
  justify-content: center;
  /* padding: 10px; */
}

.sign_up_heading {
  display: flex;
  flex-direction: row;
}

.app_signup {
  display: flex;
  flex-direction: column;
}