* {
  margin: 0;
}

.app {
  background-color: #C0D6DF;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app_header {
  display: flex;
  justify-content: center;
align-content: center;
  background-color: #DBE9EE;
  /* padding: 20px; */
  border-bottom: 1px solid #A1A499;
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.app_header_image {
  width: 100px;
  padding: 0;
  height: auto;
  /* border: 2px solid red; */
}

.app_header_h1{
  display: flex;
  align-items: center
}

.posts{
  display: flex;
  justify-content: center;
}

.LogOutButton{
  padding: 10px 2px
}

.SignUpButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 2px;
}