.draft_delete_buttons {
    margin-top: 10px;
}

.draft_photoInfo {
    padding: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 450px;
    height: 40px;
}

.editdraft {
    margin-top: 10px;
    margin-bottom: 10px;
}

.draft_caption {
    width: 900px;
    height: 40px;
}
.draft_photoInfo_other {
    width: 900px;
    height: 40px;
    margin-bottom: 20px;
}