.imageupload {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imageupload_progress {
    width: 85%;
}
.imageupload_caption {
    width: 90%;
}

.imageupload_photoInfo_other {
    width: 90%;
}

.imageupload_photoInfo {
    padding: 10px;
}

.uploadFileComponents Button {
    padding: 10px;
    margin-left: 10px;
}