.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: #DBE9EE;
}

.logo-and-lc  {
    display: flex;
    align-content: flex-start;
}

.navbar-lc {
    align-self: center;
    display: flex;
    font-family: 'Brush Script MT', cursive;
    color: #4F6D7A;
}

.navbar-right {
    display: flex;
    margin-left: auto; 
    margin-right: 5px;
    align-self: center;
}

.search-bar {
    align-self: center;
    align-content: center;
    margin-right: 10px;
}

.search-input {
    height: 30px;
}

.search-bar Button {
    align-content: center;
}

.not-signed-in {
    display: flex;
}

.not-signed-in Button {
    background-color: #4F6D7A;
}

.signed-in {
    display: flex;
}
