.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: #DBE9EE;
}

.navbar-logo {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.logo-and-lc  {
    display: flex;
    align-content: flex-start;
}

.navbar-lc {
    align-self: center;
    display: flex;
    font-family: 'Brush Script MT', cursive;
    color: #4F6D7A;
}

.navbar-right {
    display: flex;
    margin-left: auto; 
    margin-right: 5px;
    align-self: center;
}

.search-bar {
    align-self: center;
    align-content: center;
}

.search-input {
    height: 35px;
    border:none;
	padding:15px 20px;
	border-radius:25px;
	background:#C0D6DF;
    color: black;
}

.search-bar Button {
    align-content: center;
}

.not-signed-in {
    display: flex;
}

.not-signed-in Button {
    background-color: #166088;
    margin-left: 10px;
}

.signed-in {
    display: flex;
}
