.profile-wrapper {
    margin-left: 20px;
    margin-right: 0;
}

.profile-posts {
    justify-content: left;
    display: flex;
    flex-direction: row;
}

.profile-post {
    object-fit: contain;
}

.info {
    margin-bottom: 30px;
}