.post {
    background-color:#A1A499;
    max-width: 500px;
    border: 1px solid #9C9583;
    margin-bottom: 45px;
}

.post_image {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid #9C9583;
    border-top: 1px solid #9C9583;
}

.post_text {
    font-weight: normal;
    padding: 20px;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post_avatar {
    margin-right: 10px;
}
