.togglebutton {
    display: flex;
}

.menu-list {
    background-color: #DBE9EE;
}

.list-item {
    display: flex;
    height: 30px;
    align-content: left;
}

.list-item p {
    margin-left: 10px;
    align-self: center;
}

.icon {
    align-self: center;
}

.app_header_h1 {
    text-align: center;
    align-self: center;
    color: #4F6D7A;
    font-family: 'Brush Script MT', cursive;
}